/* Theme Variables */
/* Head Fonts*/
/* Basic Elements */
@import url(~slick-carousel/slick/slick.css);
@import url(~slick-carousel/slick/slick-theme.css);
h1, h2, h3 {
  font-family: "Montserrat"; }

p {
  font-family: "Roboto"; }

.Page_Sub_Title {
  font-size: 1.3em;
  display: inline-block;
  color: #5a5a5a;
  width: 100%;
  margin: 10px 0 20px; }

.canvas1 {
  background-repeat: repeat;
  background-image: url("/assets/bg/absurdity.png"); }

.Section {
  margin: 0 0 50px; }
  .Section h1.Page_Title {
    font-size: 2em;
    color: #969696; }

.Section_Rankings {
  display: contents; }

.Section_Career .row > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  width: 100%; }
  .Section_Career .row > div h1 {
    flex-grow: 1;
    width: inherit; }
  .Section_Career .row > div .Page_Title {
    font-size: 1em; }
  .Section_Career .row > div .Page_Sub_Title {
    text-align: right;
    font-weight: 800;
    font-size: 1.5em; }

.atAGlance .Form_Selector .Inner {
  text-align: right; }

.atAGlance .Form_Selector div[class*="MuiInputBase-input-"] {
  text-align: left; }

.atAGlance .Radial .Inner div .apexcharts-canvas {
  height: 175px !important; }

.atAGlance .Radial .Inner .RadialTextContainer {
  display: inline-block;
  width: 100%;
  position: relative;
  z-index: 100; }
  .atAGlance .Radial .Inner .RadialTextContainer .Page_Sub_Title {
    text-align: center;
    width: 100%;
    margin: 0;
    font-size: 1.8em !important;
    font-weight: 100;
    letter-spacing: 1px; }
  .atAGlance .Radial .Inner .RadialTextContainer .Page_Sub_Title + .Page_Sub_Title {
    font-size: .8em !important; }

.atAGlance .Radial > div {
  display: inline-block;
  width: auto; }

.atAGlance .Radial div.Selector .Inner {
  background-color: transparent !important;
  border: none !important;
  padding: 0px !important; }

.Section_History {
  margin: 0 -15px; }
  .Section_History .Outer {
    padding: 0; }
  .Section_History ul {
    margin: 0;
    padding: 0; }
    .Section_History ul .animated li > div > div {
      color: #5a5a5a; }
    .Section_History ul .animated li > div div + div span, .Section_History ul .animated li > div div + div p {
      color: #5a5a5a;
      text-align: right; }
    .Section_History ul .animated li > div div + div + div {
      text-align: right;
      padding: 0 20px 0 0; }
      .Section_History ul .animated li > div div + div + div span, .Section_History ul .animated li > div div + div + div p {
        color: #5a5a5a; }

.Section_Home_RankingPods .HomeRankingPods .animated .Inner {
  padding: 0 !important; }
  .Section_Home_RankingPods .HomeRankingPods .animated .Inner .Header {
    padding: 5px 15px;
    background-color: #709dce !important; }
    .Section_Home_RankingPods .HomeRankingPods .animated .Inner .Header h1 {
      text-align: left;
      margin: 0;
      font-size: 1.3em !important;
      padding: 5px 0;
      color: #f5f5f5 !important; }
      .Section_Home_RankingPods .HomeRankingPods .animated .Inner .Header h1 img {
        width: 25px;
        float: right;
        fill: white;
        margin-right: 15px;
        background-color: #f5f5f5;
        border-radius: 50px;
        padding: 3px; }
  .Section_Home_RankingPods .HomeRankingPods .animated .Inner .Body {
    padding: 15px; }
    .Section_Home_RankingPods .HomeRankingPods .animated .Inner .Body h2 {
      font-size: 2.5em !important;
      color: #709dce !important;
      border-bottom: 1px solid;
      margin: 0 0 10px 0;
      padding: 0 0 7px 0;
      line-height: 2em !important; }
      .Section_Home_RankingPods .HomeRankingPods .animated .Inner .Body h2 svg {
        float: right;
        font-size: 1.6em !important; }
    .Section_Home_RankingPods .HomeRankingPods .animated .Inner .Body h3 {
      font-size: 1em !important;
      font-weight: 600;
      border-top: unset !important; }
  .Section_Home_RankingPods .HomeRankingPods .animated .Inner .Footer {
    padding: 15px;
    text-align: right;
    display: none; }

.RankingPods {
  display: contents; }
  .RankingPods .Outer {
    padding: 0 0 5px 0 !important; }
    .RankingPods .Outer .Inner {
      text-align: center;
      border: none !important;
      background-color: transparent !important; }
  .RankingPods .animated .Inner {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 25%; }
    .RankingPods .animated .Inner h1 {
      display: block;
      margin: 0 25%;
      width: 50%;
      padding: 5px 0; }
    .RankingPods .animated .Inner h1.Page_Title {
      font-size: .9em !important; }
    .RankingPods .animated .Inner h1.Page_Sub_Title {
      border-bottom: 1px solid;
      font-size: 1.6em !important;
      font-weight: 600; }
  .RankingPods .animated:nth-child(1) .Inner {
    background-image: url("/assets/icons/runs.svg"); }
  .RankingPods .animated:nth-child(2) .Inner {
    background-image: url("/assets/icons/1414791.svg"); }
  .RankingPods .animated:nth-child(3) .Inner {
    background-image: url("/assets/icons/56301.svg"); }

#Header_Slider {
  text-align: center;
  color: #f5f5f5; }
  #Header_Slider .slick-slider .slick-list .slick-slide .Previous-header h1 {
    font-size: 2em; }
  #Header_Slider .slick-slider .slick-list .slick-slide .Previous-header h3 {
    font-size: 1em; }
  #Header_Slider .slick-slider .slick-list .slick-slide .Previous-subheader h3 {
    font-size: 1em; }
  #Header_Slider .slick-slider .slick-list .slick-slide .details h3 {
    font-size: 1.33333em; }
  #Header_Slider .slick-slider .slick-list .slick-slide .details h4 {
    font-size: 1em; }

.filter .Inner {
  padding: 15px 15px  0 !important; }

.results {
  text-align: right !important; }

.YearSelector {
  width: 50%;
  z-index: 100; }
  .YearSelector label {
    margin: -8px 0 0 13px;
    font-size: 1.05em; }
  .YearSelector .MuiSelect-root-170 div {
    width: auto; }

.GlobalSelect {
  width: 100%;
  z-index: 100; }
  .GlobalSelect label {
    margin: -8px 0 0 13px;
    font-size: 1.05em; }
  .GlobalSelect .MuiSelect-root-170 div {
    width: auto; }

.RadioButtons {
  display: flex !important;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-between; }
  .RadioButtons legend {
    text-align: right;
    margin: 0; }
  .RadioButtons div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-between; }

.react-autosuggest__container {
  position: relative; }

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px; }

.react-autosuggest__input--focused {
  outline: none; }

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.react-autosuggest__suggestions-container {
  display: none; }

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2; }

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px; }

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd; }

.CTA {
  margin: 5px 0 !important; }

.ContentContainer {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px; }
  .ContentContainer .Header {
    padding: 5px 15px;
    background-color: #709dce !important;
    display: flex; }
    .ContentContainer .Header .Avatar {
      margin-right: 15px;
      background-color: #f5f5f5;
      border-radius: 50px;
      padding: 3px;
      color: rgba(0, 0, 0, 0.54) !important;
      font-size: 1em; }
    .ContentContainer .Header h1 {
      text-align: left;
      margin: 0;
      font-size: 1.3em !important;
      padding: 5px 0;
      color: #f5f5f5 !important; }
  .ContentContainer .Footer {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-content: end;
    background-color: #d8d8d8; }
    .ContentContainer .Footer a {
      color: white; }

.ChartContainer {
  padding-bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.12); }
  .ChartContainer .Header {
    padding: 5px 15px;
    margin: -15px;
    background-color: #709dce !important; }
    .ChartContainer .Header h1.Page_Sub_Title {
      display: inline;
      margin: 0;
      font-size: 1.3em !important;
      padding: 10px 0;
      line-height: 1.5em;
      color: #f5f5f5 !important; }
    .ChartContainer .Header .Avatar {
      float: right;
      background-color: #f5f5f5;
      color: #5a5a5a;
      font-size: .9em !important;
      width: 30px;
      height: 30px; }
  .ChartContainer .Body {
    padding: 15px; }
  .ChartContainer .Footer {
    padding: 0px;
    text-align: right; }

.invert {
  background-color: #709dce !important;
  border-color: #fff !important; }
  .invert .ChartContainer .Header {
    background-color: #fff !important; }
    .invert .ChartContainer .Header h1.Page_Sub_Title {
      color: #5a5a5a !important; }
  .invert .ChartContainer .Body {
    padding: 15px 0 0; }
  .invert .ChartContainer .Footer a {
    color: #f5f5f5; }

/**
    1. .IconPod
    Pod Should have a Header, Body and Footer Div
    Contain a Icon, Main Value and Title


    2. .SingleLine
    Currently has a body div only
    2 x H1 on the same line.


    3. .Zeroed
    This pod has No padding and No Margin attached to them.
    Add a new class or inline styling to amend
*/
.PodRow .animated {
  margin: 0;
  padding: 0; }

.PodRow #Pod {
  padding: 0 1px 5px 1px; }
  .PodRow #Pod .Inner {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 10px 25px;
    background-color: #fff;
    position: relative; }
    .PodRow #Pod .Inner h1 {
      color: #969696;
      font-size: 1.1em; }
    .PodRow #Pod .Inner h2 {
      color: #5a5a5a;
      font-size: 2.5em;
      margin: 0;
      line-height: 1.2em; }
    .PodRow #Pod .Inner h3 {
      color: #5a5a5a;
      font-size: 1em;
      margin: 0;
      line-height: 1.2em;
      text-align: right;
      border-top: 1px solid;
      padding-top: 5px;
      margin-top: 5px; }
    .PodRow #Pod .Inner button {
      float: right; }
  .PodRow #Pod .IconPod .Header img {
    width: 30px;
    float: right;
    margin: 0 15px 0 0; }
  .PodRow #Pod .IconPod .Body h1 {
    text-align: center;
    margin: 0; }
  .PodRow #Pod .IconPod .Body h1.Page_Sub_Title {
    font-size: 1.8em !important;
    color: #709dce !important;
    border-bottom: 1px solid;
    margin: 0 0 0px 0;
    padding: 0 0 0px 0; }
  .PodRow #Pod .IconPod .Body h1.Page_Title {
    font-size: 1em !important;
    font-weight: 600; }
  .PodRow #Pod .IconPod .Footer {
    text-align: right; }
    .PodRow #Pod .IconPod .Footer button {
      float: unset !important; }
    .PodRow #Pod .IconPod .Footer a {
      margin: 0;
      padding: 0; }
  .PodRow #Pod .IconPod .RankingIcon {
    float: right;
    font-size: 3em; }
  .PodRow #Pod .SingleLine .Body {
    display: flex; }
    .PodRow #Pod .SingleLine .Body h1 {
      width: 50%;
      margin: 0; }
    .PodRow #Pod .SingleLine .Body h1 + h1 {
      text-align: right; }
  .PodRow #Pod .Zeroed {
    padding: 0;
    margin: 0; }
  .PodRow #Pod .FillPod .fill {
    background-color: rgba(112, 157, 206, 0.1);
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 15px;
    margin: -15px;
    transition: height 0.25s ease-in; }

#Pod.NakedPod {
  padding: 0; }
  #Pod.NakedPod > .Inner {
    background-color: transparent;
    padding: 0 15px;
    border: none; }

#Pod.ToDo .Inner {
  border-color: red;
  background-color: #ffe2e2; }

/*- Build up Dom Elements -*/
#Login {
  background-color: #709dce;
  height: 100vh;
  width: 100vw;
  padding: 10%; }
  #Login .LoginFormContainer {
    padding: 3%;
    background-color: #f5f5f5;
    border: 1px solid #969696;
    border-radius: 10px; }

#LoadingScreen {
  height: 100vh;
  width: 100vw;
  background-color: black;
  overflow: hidden; }
  #LoadingScreen h2 {
    color: white;
    text-align: center; }
  #LoadingScreen .lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    width: 25%;
    margin: 100px 50%; }
  #LoadingScreen .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: white;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite; }
  #LoadingScreen .lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s; }
  #LoadingScreen .lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s; }
  #LoadingScreen .lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0; }

@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px; }
  50%, 100% {
    top: 19px;
    height: 26px; } }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto"; }
  body #root #Statto #Frame {
    /*
*       TABLET NORMAL
*
*/
    /* iPads (landscape) ----------- */
    /* iPads (portrait) ----------- */
    /* Medium Phones ----------- */
    /* Small Phones ----------- */
    /* Smartphones (portrait) ----------- */ }
    body #root #Statto #Frame header {
      position: fixed;
      z-index: 99999;
      padding: 0; }
      body #root #Statto #Frame header #AppBar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        width: 100%;
        align-items: center;
        align-content: center; }
        body #root #Statto #Frame header #AppBar img.Logo {
          height: 23px;
          margin: 12px 0 0 0; }
        body #root #Statto #Frame header #AppBar .Left {
          justify-content: flex-start;
          display: flex;
          flex-grow: 1; }
        body #root #Statto #Frame header #AppBar .Center {
          flex-grow: 2;
          display: flex;
          justify-content: flex-start; }
          body #root #Statto #Frame header #AppBar .Center img.NavigationIcon {
            width: 25px;
            height: 25px; }
          body #root #Statto #Frame header #AppBar .Center img.NavigationIcon.Bowling {
            width: 20px;
            height: 20px; }
          body #root #Statto #Frame header #AppBar .Center button a {
            display: flex; }
            body #root #Statto #Frame header #AppBar .Center button a svg {
              fill: rgba(0, 0, 0, 0.54); }
          body #root #Statto #Frame header #AppBar .Center p {
            margin: 0 5px 0 0;
            font-size: .8em;
            text-align: center;
            float: right;
            line-height: 4em; }
        body #root #Statto #Frame header #AppBar .Right {
          flex-grow: 1;
          display: flex;
          justify-content: flex-end; }
          body #root #Statto #Frame header #AppBar .Right h1 {
            font-size: 1.1em;
            line-height: 2.3em;
            margin: 0 20px 0 10px; }
          body #root #Statto #Frame header #AppBar .Right button a {
            display: flex; }
            body #root #Statto #Frame header #AppBar .Right button a svg {
              fill: rgba(0, 0, 0, 0.54); }
    .DrawerNav {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      min-height: 100vh; }
      .DrawerNav .Collapseable {
        height: auto;
        background-color: #f5f5f5; }
        .DrawerNav .Collapseable a div {
          padding-left: 35px; }
      .DrawerNav nav {
        width: inherit; }
      .DrawerNav .NavBarTop {
        background-color: #709dce;
        min-height: 200px;
        text-align: center;
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .DrawerNav .NavBarTop > div {
          flex-grow: 1;
          width: 100%;
          justify-content: center; }
        .DrawerNav .NavBarTop div.UserName {
          flex-grow: 2;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          border-bottom: 30px solid #fff; }
          .DrawerNav .NavBarTop div.UserName div {
            align-self: center;
            align-items: flex-end; }
            .DrawerNav .NavBarTop div.UserName div div.PlayerAvatar {
              width: 70px;
              height: 70px;
              border: 8px solid #fff;
              margin-bottom: -45px;
              z-index: 10; }
              .DrawerNav .NavBarTop div.UserName div div.PlayerAvatar img {
                width: 70px; }
        .DrawerNav .NavBarTop div.Actions {
          display: flex;
          align-items: flex-start; }
          .DrawerNav .NavBarTop div.Actions div {
            flex-grow: 1; }
            .DrawerNav .NavBarTop div.Actions div button {
              background-color: #fff; }
              .DrawerNav .NavBarTop div.Actions div button a {
                display: flex; }
                .DrawerNav .NavBarTop div.Actions div button a svg {
                  fill: rgba(0, 0, 0, 0.54); }
      .DrawerNav .NavBarBottom {
        min-height: 50px; }
      .DrawerNav img.NavigationIcon {
        width: 25px;
        margin-right: 16px; }
      .DrawerNav img.NavigationIcon.Bowling {
        width: 20px;
        margin-right: 20px; }
    body #root #Statto #Frame main {
      min-height: 100vh;
      -webkit-box-shadow: inset 4px 0px 14px -6px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: inset 4px 0px 14px -6px rgba(0, 0, 0, 0.5);
      box-shadow: inset 4px 0px 14px -6px rgba(0, 0, 0, 0.5);
      background-color: #f5f5f5;
      width: 100%; }
      body #root #Statto #Frame main .show {
        opacity: 1 !important; }
    body #root #Statto #Frame #PageHeader {
      background-color: #709dce;
      padding: 40px;
      margin: -24px -24px 30px -24px;
      min-height: 300px; }
    body #root #Statto #Frame .SectionHeader {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: baseline;
      align-content: center; }
      body #root #Statto #Frame .SectionHeader h1 {
        color: #969696;
        flex-grow: 1;
        width: auto; }
      body #root #Statto #Frame .SectionHeader h1.Page_Sub_Title {
        text-align: right; }
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      body #root #Statto #Frame .SectionHeader h1 {
        font-size: 1.2em; }
      body #root #Statto #Frame .SectionHeader h1.Page_Sub_Title {
        font-size: 1em; } }
    body #root #Statto #Frame #StattoTabs header {
      position: relative;
      background-color: #f5f5f5;
      padding: 10px 0 0;
      box-shadow: unset; }
      body #root #Statto #Frame #StattoTabs header img {
        height: 30px; }
    body #root #Statto #Frame .TableTabber div {
      width: 100%; }
      body #root #Statto #Frame .TableTabber div table tr th, body #root #Statto #Frame .TableTabber div table tr td {
        padding: 0; }
        body #root #Statto #Frame .TableTabber div table tr th a, body #root #Statto #Frame .TableTabber div table tr td a {
          float: right; }
  body #root #Statto ul.dots li {
    float: left;
    width: 15px;
    height: 15px;
    list-style: none;
    margin: 2px 1px; }
