#Login{

    background-color: $ColorBase;
    background-image: url(https://www.transparenttextures.com/patterns/circles.png);
    padding: 5vh 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    align-items: stretch;
    align-content: center;

  
    @import "./LoginHeader";
    @import "./Container";
     


    /* Media Queries */
    @media only screen and (min-width : 1020px) and (max-width : 1200px) {

    }


    //  Mobile Phones
    @media only screen and (max-width : 578px) {

  
        .LoginHeader{
            div.Logo{
                img.STATTOLOGO{
                    width: 100px;
                }
            }
            div.Titles{ 
                h1.Page_Title{
                    font-size: 2em
                }
                h1.Page_Sub_Title{
                    font-size: .9em
                }
            }
        }

       .LoginFormContainer{
            .LoginInner{
                width: 90vw;
            }
            
            .RosterLoadedHeader{
                h1{
                    strong{
                        font-size: 2em;
                       
                    }
                }
            } 
                #TeamSheet{
                    li{
                        flex: 1 0 50%;
                    }
                }
       }
    }
}  