 
  .animated{ 
            #Pod{
                .Inner{
                    border:1px solid rgba(0, 0, 0, 0.12);
                    border-radius: 5px;
                    padding: 10px 25px;
                    background-color: #fff;
                    position: relative;
                }
                .Inner.Naked{
                    @include Inner_Naked_Styles;
                }

            }


        // Full Width Pod for Mobile
        @media only screen  and (max-width : 576px) {

            flex:1 0 100% !important;
            margin: 1px 0 !important;

            .Inner{
                padding: 5px 10px !important;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: center;
                align-content: center;

                div{ flex: 1 0 33%;}

                .Body{
                    h1.Page_Sub_Title{
                        border-bottom: unset !important;
                    }
                }
                h1{
                    img{
                        display: none;
                    }
                }
            }

        } 
  }