// Current Pod Types
/**
    1. .IconPod
    Pod Should have a Header, Body and Footer Div
    Contain a Icon, Main Value and Title


    1.5 .Ranking Pods



    2. .SingleLine
    Currently has a body div only
    2 x H1 on the same line.


    3. .Zeroed
    This pod has No padding and No Margin attached to them.
    Add a new class or inline styling to amend
*/

// Mixins
@mixin Inner_Styles{
    border:1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 10px 25px;
    background-color: #fff;
    position: relative;  
}
@mixin Inner_Naked_Styles{
    border:unset;
    border:none;
    padding: 5px;
    background-color: transparent;
}

// Header
@mixin Style_POD_Header {
    padding: 5px 15px;
    background-color:$ColorBase ;
    border-radius: 3px 3px 0 0 ;
  }
@mixin Style_POD_Header_H1{
    text-align: left !important;
    margin: 0;
    font-size: 1.3em !important;
    padding: 5px 0 !important;
    color:$h3Color ;
   
}

@mixin Style_POD_Header_IMG{
    width: 25px;
    float: right;
    fill: white; 
    margin-right: 15px;
    background-color: $white;
    border-radius: 50px;
    padding: 3px;
}

@mixin Style_POD_Header_AVA{
    float: right;
    color: $IconColor;
    background-color: $white;
    margin-top: -5px;
    font-weight: 100;
    width: 35px;
    height: 35px;
    font-size: .8em;
}

@mixin Style_POD_Footer($color:$ColorBase){
        justify-content: flex-end;
        display: flex;
        background-color: $color;
}

@mixin Style_POD_Footer_Link{
    color: $white;
}

/** END MIXINS */


.PodRow{
    .animated{ 
        margin: 0; 
        padding: 0; 
    }
    #Pod{
        padding: 0px;
        margin: .2% !important;
            // Generic Inner Styles that are used by ALL Pods
            .Inner{            
                @include Inner_Styles; 

                @import "./PodType";
                @import "./PodButtons";
                @import "../FlexListScoreCard";
            }
            .Inner.Naked{
                @include Inner_Naked_Styles;
            }

           
            @import "./Type_IconPods";
            @import "./Type_SingleLinePod";
            @import "./Type_Zeroed";
             
            @import "./Type_HeaderBodyPod";
        }
   
    @import "./Type_FilledPod"; 
    @import "./Pod_Generic";
    @import "./Type_RankingPod";   
}

.mobile{
    .PodRow{
        #Pod{
            .Inner{   
                padding: 10px 10px;
                .Header{
                    h1{
                        font-size: .9rem;
                    }
                }
            }
        }
        
    }
}