h1{
    color: $h1Color;
    font-size: 1.1em;
}
h2{
    color: $h2Color;
    font-size: 2.5em;
    margin: 0;
    line-height: 1.2em;
}
h3{
    color: $h2Color;
    font-size: 1em;
    margin: 0;
    line-height: 1.2em;
    text-align: right;
    border-top: 1px solid;
    padding-top: 5px;
    margin-top: 5px;
}