.FillPod
    {

    .Header{
       
    }
    .fill{
        background-color: rgba(112, 157, 206, .1);
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 15px;
        margin: -15px;
        transition: height 0.25s ease-in;  
      
    }

}