.animated{ 
    #Pod{
        .RankingPod{
            padding: 0 ;
        
            .Header{ 
                @include Style_POD_Header;
                 
                h1{ 
                    @include Style_POD_Header_H1;
                    img{
                        @include Style_POD_Header_IMG;
                    }
                }
            }
        
            .Body{
                padding: 15px;
                h2{
                    font-size: 2.5em ;
                    color: $ColorBase ;
                    border-bottom: 1px solid;
                    margin: 0 0 10px 0;
                    padding: 0 0 7px 0;
                    line-height: 2em ;
                    font-weight: 100;
        
                    svg{
                        float: right;
                        font-size: 1.6em ;
                    }
                    svg.Down{ fill:$TrendingDown; color: $TrendingDown;}
                    svg.Up{fill:$TrendingUp; color: $TrendingUp;}
                    svg.Flat{fill:$TrendingFlat; color: $TrendingFlat;}
                }
                h3{
                    font-size: 1em ;
                    font-weight: 600;
                    border-top: unset ;
                }
            }
        
            .Footer{
                padding: 15px;
                text-align: right;
                display: none;
            }
        
        }

    }


// Full Width Pod for Mobile
@media only screen  and (max-width : 576px) {

    flex:1 0 100% !important;
    .RankingPod{
        padding: 5px 10px !important;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;


        .Header{
                    flex: 1 0 30%;
                    background-color: transparent !important;
                    padding: 0 !important;
                    h1{
                        border-bottom: unset !important;
                        color: $h1Color !important;
                        font-size: 1.1em !important;
                        
                    }
            }
        .Body{
            flex: 1 0 50%;
            padding: 0 10px !important;
            h2{
                font-size: 1.6em !important;
                padding: 0 0px !important;
                margin: 0 0 5px 0 !important;
                font-weight: 100;
            }
            h3{
                margin: 0 !important;
                padding: 0 0 10px 0 !important;
                color: $h1Color !important; 
                
            }
        }
        h1{
            img{
                display: none;
            }
        }
    }
    } 
}