// Section off Types of pods
// Icon Pod

    .IconPod{
        .Header{
            img,svg{
                width: 30px;
                float: right; 
                margin: 0 15px 0 0;
            }

            svg.FormTrending{
                float: right;
                font-size: 2rem;
            }
            svg.FormTrending.Up{
                fill:$TrendingUp;
            }
            svg.FormTrending.Down{
                fill:$TrendingDown;
            }
        }
        .Body{
            h1{ 
                text-align: center;
                margin: 0;
            }
            h1.Page_Sub_Title{
                font-size: 1.8em !important;
                color: $ColorBase !important;
                border-bottom: 1px solid;
                margin: 0 0 5px 0;
                padding: 0 0 0px 0;
            }
            h1.Page_Title{
                font-size: 1em !important;
                
                font-weight: 600;
            }
        }
        .Footer{
            text-align: right;
            color: $ColorBase !important;
            font-size: .8em !important;
            button{
                float: unset !important;
                
            }
            a{
                margin: 0;
                padding: 0;
            }
            
        }
        .RankingIcon{
            float: right;
            font-size: 3em;

        } 
       
    }