.ScorecardMeta{
    margin: 0 0 10px 0;
    h1.Page_Title{
        text-align: right;
        margin: 0;
    }
}

.ScoreCard_Scores{
    .Winner{
        .Inner{
            border-color: $TrendingUp;
        }
    }
    .Loser{

    }.Inner{
            border-color: $TrendingDown;
        }
}
