body{
    margin: 0;
    padding:0;
    font-family: $FontHeader; 

    #root{
        #Statto{

                display: flex;
                min-width: 100vw;
                min-height: 100vh;
            @import "../Template/Template";

            @import "../Elements/Dev";


        }
    }
}
