
// A series of FLex Classes

.flex-100{ flex-basis: 99.5% !important;}
.flex-70{ flex-basis: 69.5% !important;}
.flex-60{ flex-basis: 59.5% !important;}
.flex-50{ flex-basis: 49.5% !important;}
.flex-40{ flex-basis: 39.5% !important;}
.flex-30{ flex-basis:  32.9%  !important;}
.flex-25{ flex-basis:  24.5% !important;}
.flex-20{ flex-basis:  19.5% !important;}
 