main{
    min-height: 100vh;
    -webkit-box-shadow: inset 4px 0px 14px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 4px 0px 14px -6px rgba(0,0,0,0.5);
    box-shadow: inset 4px 0px 14px -6px rgba(0,0,0,0.5);
    background-color: #f5f5f5;
    width: 100%;
}