@at-root{
.DrawerNav{ 

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh;
  
    .Collapseable {
        height: auto;
        background-color: $white;
        a{
            div{  padding-left:0px;}
        }
    }

    nav{
        width: inherit; 

        a{
          
            >div{
                padding:8px 16px;
                svg{ 
                        fill:$IconColor;
                    }
                div{
                    padding-left: 6px;
                    span{
                        color:$IconColor;
                    }
                }
            }
        }

        >div{
            padding:0;
           
            div{  
                padding-left: 9px;
                div{
                    display: inline-block;
                }  
               
            }
            span{
               color:$IconColor;
            }
            .Collapseable{
                
                div{
                    div{
                        padding-top:5px;
                        
                        div{
                          
                            a{
                                padding:12px 0px;
                                div{
                                    svg{
                                        fill:$IconColor;
                                    }
                                    div{
                                        padding: 0 0 0 5px;
                                        span{
                                            color:$IconColor;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    


    .NavBarTop{
        background-color: $ColorBase;
        min-height: 120px;
        text-align: center;
        padding-top: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      

        > div{
            flex-grow:1;
            width:100%;
            justify-content:center;
        }
        div.UserName{
        
            flex-grow:2;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            border-bottom: 30px solid $pureWhite;
            div{ 
                 align-self: center; align-items: flex-end;
                 div.PlayerAvatar{
                    width: 70px;
                    height: 70px;
                    border: 8px solid $pureWhite;
                    margin-bottom: -45px;
                    z-index: 10;      
                    background-image: url(http://localhost:3000/assets/Statman.png);
                    background-size: contain;
                    background-color: $ColorBase;            
                    img{
                        width:70px;
                        }
                    }
                }
        }
        div.Actions{
            display: flex;
            align-items: flex-start;
           

            div{
                flex-grow:1;
                button{
                    a{
                        display: flex;
                        svg{
                            fill:$IconColor;
                        }
                    }
                        
                    background-color: $pureWhite;
                }
            }
        }
    }

    .NavBarBottom{
        min-height: 50px;
    }

    img.NavigationIcon{ width:25px;     margin-right: 16px;}
    img.NavigationIcon.Bowling{width:20px;     margin-right: 20px;}

    @media only screen and (max-width : 576px) {
        .NavBarTop{
            min-height: 120px;
            padding-top: 10px;
        }
    }
}
    
}

// f3f3f3