#StattoTabs{

    header{
        position: relative;
        background-color:$white;
        padding: 10px 0 0;
        box-shadow: unset;

        img{
            height: 30px;
        }
    }


}