#StattoTabs{
    background-color:  transparent;
    header{
        position: relative;
        background-color:$white;
        padding: 10px 0 0;
        box-shadow: unset;

        
 
        .StattoTabs{
            img{
                height: 30px;
                color: $ColorBase;
            }
            span{
                color: $ColorBase;
            }
        }
    }

    .TabIndicator-colorPrimary-177{
        background-color: $ColorBase;
    }
    .TabContainer{
        padding: 10px 0;
    }
}


// Specific Tabs

.TableTabber{
    div{
        width: 100%;
        table{
            tr{
                th, td{  padding: 0; 
                    a{
                        float: right;
                    }
                }
            }
        }
    }
}