.Section_Career{
    .row{
        > div{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            align-content: flex-start;
            width: 100%;

            h1{
                flex-grow: 1; 
                width: inherit;
            }
            .Page_Title{ font-size: 1em;}
            .Page_Sub_Title{ text-align: right; font-weight: 800; font-size: 1.5em;}
        }
    }
}
