// This is the blue header section
#PageHeader{
    background-color: $ColorBase;
    padding: 40px;
    margin: -24px -24px 30px -24px;
    min-height: 300px;
}




// This is the page title section
.SectionHeader{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline; 
    align-content: center;

    h1{
       color: $h1Color ;
       flex-grow:1;
       width: auto;
    }
    h1.Page_Sub_Title{
        text-align: right;
        font-weight: 100;
    }
}




/*
*       TABLET NORMAL
*
*/
    
/* iPads (landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {}
    
/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {}


@media only screen and (min-width : 576px) and (max-width : 768px) {}

/* Medium Phones ----------- */
@media only screen and (min-width : 480px) and (max-width : 576px) {

}

/* Small Phones ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .SectionHeader{
        h1{ font-size: 1.2em;}
        h1.Page_Sub_Title{font-size: 1em;}
    }
}
    
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {}