#Pod{
    padding: 0 15px 15px 0;
    
    .Inner{
        border:1px solid rgba(0, 0, 0, 0.12);
        border-radius: 5px;
        padding: 15px;
        background-color: #fff;


            h1{
                color: $h1Color;
                font-size: 1.1em;
                 
            }
            h2{
                color: $h2Color;
                font-size: 2.5em;
                margin: 0;
                line-height: 1.2em;
            }
            h3{
                color: $h2Color;
                font-size: 1em;
                margin: 0;
                line-height: 1.2em;
                text-align: right;
                border-top: 1px solid;
                padding-top: 5px;
                margin-top: 5px;
            }
            button{
                float: right;
            }


            .RankingIcon{
                float: right;
                font-size: 3em;
            }

    }
}

#Pod.NakedPod{
    padding: 0;
    >.Inner{
        background-color: transparent;
       padding: 0 15px;
        border:none;
    }
}

#Pod.ToDo{
    .Inner{
        border-color: red;
        background-color: #ffe2e2;
    }
   
}