.row.ContainerRow{
    >#Pod{
        >.Inner{
                border: none;
               background-color: transparent;
        
               .animated{
                   margin: 0;
                   padding: 0;
               }
        }
    }

}