
$ColorBase:#709dce;
$pureWhite:#fff;
$white:#f5f5f5;

$h1Color: #969696;
$h2Color: #5a5a5a; 
$h3Color:#f5f5f5;

// Side Nav

// Pods



// Icons

$IconColor:rgba(0, 0, 0, 0.54); 
$HalfBlack:rgba(0, 0, 0, 0.50); 
$QarterBlack:rgba(0, 0, 0, 0.25);  