
$FontHeader : 'Roboto';
$BodyFont : 'Montserrat';

/* Head Fonts*/

$HeaderH1Size:2em;
$SubHeaderSize:1.3em;


/* Basic Elements */
a{
    text-decoration: none;
}
h1,h2,h3{ 
    font-family: $BodyFont; 
}

p{
    font-family: $FontHeader;
}

.Page_Title{}

.Page_Sub_Title{
    font-size: $SubHeaderSize;
    display: inline-block;
    color: $h2Color;
    width: 100%;
    margin: 10px 0 20px;
}