
$FontHeader : 'Roboto';
$BodyFont : 'Montserrat';

/* Head Fonts*/

$HeaderH1Size:2em;
$SubHeaderSize:1.3em;
$PSize:1em;

/* Basic Elements */
a{
    text-decoration: none;
}
h1,h2,h3{ 
    font-family: $BodyFont; 
}

p{
    font-family: $BodyFont;
}

.Page_Title{
    
}

.Page_Sub_Title{
    font-size: $SubHeaderSize;
    display: inline-block;
    color: $h2Color;
    width: 100%;
    margin: 40px 0 5px;
}

.Page_P{
    color: $h2Color;
    font-size: $PSize;
}
 

.ChartMetaContainer{
    .ChartContainerTitlesandIcons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-start;
    width: 100%;
    .Graph_Type_and_Info{
        
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: stretch;
        align-content: flex-end;
        p{
            flex-basis: 90%;
            color: $h1Color;
            margin: 0;
        }
        div{
            flex-basis: 10%;
            align-self:flex-end;
        }

        .ChartMetaIcon{
            padding: .2rem .3rem;
            svg{
                fill:#709dce;
            }
        }
    
    }
    }
}
